

body{
    background-image: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,.4)),url(/images/pexels-wewe-yang-4532825.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    background-position: center;

    
     
}
/*------ nav bar ------ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;   
}
.list-items{
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 20px;
}
.logo img{
    margin-left: 100px;
}
.list-line::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    display: block;
}
.call-us{
    margin-right: 100px;
}
.call-us h3{
    font-size: 25px;
    margin-bottom: -10px;
}
.drop-menu{
    display: none;
}
/* -----down content ----- */
.content{
    display: flex;
    justify-content: space-around;
}
/*  ---- left content----- */
.left{
    color: white;
    margin-top: 80px;
    margin-left: 100px;
}
.left h1{
    font-size: 70px;   
}
.left button{
    background-color: transparent;
    color: white;
    border-radius: 30px;
    padding: 10px 70px;
    font-size:20px ;
    font-weight: 500px;
    border: 3px solid white;
}
/* ----- right content ----- */

/*  ------ first child ----- */
.right .square:nth-child(1){
    background-color: rgba(255, 255, 255, 0.338);
    height: 110px;
    width: 200px;
    padding: 20px 10px 0px 10px;
    position: relative;
    top: 110px;
    right: 70px;
    border-radius: 10px;
}
.right .square:nth-child(1) .icon,.square:nth-child(2) .icon{
    background-color: #fff;
    display: inline;
    padding: 5px 24px;
    border-radius: 30px;  
}
.right .square:nth-child(1)::after{
    content: "" ;
    background-color:rgba(255, 255, 255, 0.604) ;
    width: 100px;
    height: 3px;
    display: block;
    position: absolute;
    top: 178px;
    left: 50px;
    transform: rotate(90deg);
}
.right .square:nth-child(1)::before{
    content: "" ;
    background-color:rgba(255, 255, 255, 0.993) ;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 220px;
    right: 110px;
}
.right p{
    color: white;
    font-size: 18px;
}

/* ------ second child ---- */
.right .square:nth-child(2){
    background-color: rgba(255, 255, 255, 0.338);
    height: 110px;
    width: 200px;
    padding: 20px 10px 0px 10px;
    position: relative;
    top: 230px;
    right: 330px;
    border-radius: 10px;
}
.right .square:nth-child(2)::after{
    content: "" ;
    background-color:rgba(255, 255, 255, 0.616) ;
    width: 130px;
    height: 3px;
    display: block;
    position: absolute;
    top: 60px;
    left: 220px;
    
}
.right .square:nth-child(2)::before{
    content: "" ;
    background-color:rgba(255, 255, 255, 0.993) ;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 52px;
    left: 350px;
}
/* --------media quires------ */
@media only screen and (max-width:1120px){
    .left h1{
        font-size: 50px;   
    }
}
@media only screen and (max-width:1060px){
    .list-items{
       
        gap: 30px;
        font-size: 15px;
    }
    .logo img{
        width: 120px;
        margin-left: 100px;
    }
    .right .square:nth-child(1){
        height: 110px;
        width: 200px;
        right: 0px; 
    }
    .right .square:nth-child(2){
       
        height: 110px;
        width: 200px;
        top: 150px;
        right: 200px;
        
    }
    .right .square:nth-child(2)::before{
        display: none;
    }
    .right .square:nth-child(2)::after{
        width: 70px;
    }

}
@media only screen and (max-width:800px){
    .left h1{
        font-size: 55px;   
    }
    .list-items{
       
        gap: 20px;
        font-size: 15px;
    }
    .list-line::after{
       
        display: none;
    }
    .call-us{
        margin-right: 10px;
    }
    .call-us h3{
        font-size: 20px;
        margin-bottom: -10px;
    }
    .logo img{
        width: 120px;
        margin-left: 20px;
    }
   
    .right .square:nth-child(2)::after,.right .square:nth-child(1)::after,    .right .square:nth-child(2)::before,.right .square:nth-child(1)::before{
        display: none;
    }
    .right .square:nth-child(2){
        right: 0px;
        
    }
    .left{
        margin-left: 0px;
    }
    .content{
       flex-direction: column;
    }
    .right{
        display: flex;
        justify-content: space-around;
    }
    .right .square:nth-child(1){
       
        top: 50px;
        right: 0px;
        
    }
    .right .square:nth-child(2){
       
       
        top: 50px;
     
    }
    .left button{
    margin:0px 100px;
    }

}
@media only screen and (max-width:600px){

    .call-us{
        display: none;
    }

}
@media only screen and (max-width:500px){
  .list-items{
    display: none;
  }
  .drop-menu{
    display: block;
}
  .right .square:nth-child(1),.right .square:nth-child(2){
   
    height: 100px;
    width: 130px; 
}
.right p{
    
    font-size: 14px;
}
.left h1{
    font-size: 30px;   
}
.left button{  
  padding: 10px 30px;
    font-size:12px ;  
}

}